{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/breadcrum.html' %}
<section class="padding-80px-tb forget-password-page">
    <div class="container">
        <div class="row sm-margin-left-right-0px">
            <!-- heading starts -->
            <div class="text-black col-lg-8 col-md-10 col-12  center-col forgot-pf border-radius-5 paddingtwenty">
                <div class="text-center">
                    <h6 class="text-left font-weight-600 display-inline-block border-bottom-khaki margin-bottom-15px text-extra-large md-title-mdall sm-text-extra-large">Forgot Your Password?</h6>
                </div>
                
                <ul class="padding-left-20px">
                    <li class="text-sky-blue">
                        <p class="mb-0 text-left text-black sm-text-large">No need to worry! we will send you email.</p>
                    </li>
                    <li class="text-sky-blue">
                        <p class="text-left text-black sm-text-large">Please enter your email address below we will send you link to set a new password.</p>
                    </li>
                </ul>
                <!-- form starts -->
                <form action="{% url 'forgotPassword' %}" method="POST">
                    {% csrf_token %}
                    <!-- email starts -->
                    <input type="text" name="email" placeholder="Enter your email address" class="form-control border-radius-5 p-2 sm-text-large">
                    <!-- email ends -->
                    <!-- button starts -->
                    <button class="btn btn-style1 margin-top-20px margin-bottom-5px">Send</button>
                    <!-- button ends -->
                </form>
                <!-- form ends -->
            </div>
            <!-- heading ends -->
        </div>
    </div>
</section>

{% endblock %}