{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/breadcrum.html' %}
		<!-- breadcrumbs section ends -->
		<!-- sign in section starts -->
<section class="padding-80px-tb">
	<div class="container">
		<div class="row sm-margin-left-right-0px">
			<div class="col-lg-8 col-md-10 col-12 center-col gray-border sign-in-content border-radius-5">
				<!-- sign in options starts -->
				<div class="text-center">
					<div class="d-inline-block vertical-align-middle sm-display-none"></div>
						<a href="https://accounts.google.com" class="font-weight-600 border-bottom-khaki text-black text-extra-large md-title-mdall sm-text-extra-large">Reset Password</a>
					<div class="d-inline-block vertical-align-middle sm-display-none"></div>
				</div>
				<div class="text-center margin-top-10px">
					<span class="font-weight-500 text-medium sm-text-large">Enter Your New Password</span>
				</div>
				<!-- sign in options ends -->
				<div class="comment-form">
					{% include 'includes/alerts.html' %}
					<!-- form strats -->
					<form action="{% url 'resetpassword' %}" method="POST">
						{% csrf_token %}
						<div class="row">
							<div class="col-md-12 col-12">
								<div class="margin-bottom-10px">
									<label for="exampleInputName" class="sm-text-large">Password</label>
									<input class="form-control border-radius-5 sm-text-large" id="exampleInputEmail1" type="password" name="password" placeholder="password">
								</div>
							</div>
							<div class="col-md-12 col-12">
								<div class="margin-bottom-15px">
									<label for="exampleInputEmail1" class="sm-text-large">Confirm Password</label>
									<input class="form-control border-radius-5 sm-text-large" id="exampleInputEmail1" type="password" name="confirm_password" placeholder="Confirm password">
								</div>
							</div>
							<div class="col-md-12">
								<div class="sign-button">
									<div class="text-left margin-bottom-10px sm-margin-top-5px">
										<button type="submit" class="btn btn-primary btn-block">Sign in</button>
									</div>
								</div>
								<!-- <div class="">
									<a href="{% url 'register' %}" class="text-black sm-text-large">You don't have an account?</a>
								</div> -->
							</div>
						</div>
					</form>
					<!-- form ends -->
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock%}