{% load static %}
<section class="blog-detailsstyle1 breadcrumb-img position-relative cover-background height-300-px" style="background-image: url('{% static 'images/footerimage.jpg' %}');">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text text-center left-0 right-0">
                    <!-- breadcrumb title starts -->
                    <div class="d-inline-block">
                        <a class="alt-font font-weight-600 text-extra-large border-bottom-khaki text-black2 md-title-mdall sm-text-extra-large" href="javascript:void(0)">Pages</a>
                        <i class="fas fa-arrow-circle-right text-black2 text-extra-large margin-right-5px md-title-mdall margin-left-5px sm-text-extra-large"></i>
                    </div>
                    <!-- breadcrumb title ends -->
                    <!-- breadcrumb path starts -->
                    <div class="d-inline-block">
                        <h5 class="font-weight-600 text-extra-large text-sky-blue md-text-large sm-text-large">Megashoppapp</h5>
                    </div>
                    <!-- breadcrumb path ends -->
                </div>
            </div>
        </div>
    </div>
</section>