{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'includes/breadcrum.html' %}
<!-- breadcrumbs section ends -->
<!-- quick view starts -->

<!-- quick view ends -->
<!-- products section starts -->
<section class="exproducts-style1 padding-80px-tb md-padding-60px-tb">
    <div class="container mt-md-0">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-4 left-gl-sidebar">
                <div class="categorie">
                    <!-- categories grids starts -->
                    <div class="sidebar-content">
                        <!-- heading starts -->
                        <div class="padding-bottom-15px">
                            <h6 class="border-bottom-khaki d-inline-block font-weight-600 main-font text-extra-large md-title-mdall sm-text-extra-large">Categories</h6>
                        </div>
                        <!-- heading ends -->
                        <!-- clothing starts -->
                        <div class="panel" id="accordion4">
                            <div class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion4" href="#collapse4" class="text-black hoverstyle1 text-medium font-weight-600 md-text-large">Clothing
                                    <i class="fas fa-angle-down float-right padding-right-5px padding-top-5px"></i>
                                </a>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse in">
                                <ul class="list-unstyled text-medium mb-0 sm-text-large">
                                    <li class=""><a class="text-black hoverstyle1 letter-spacing-0" href="#">Men</a></li>
                                    <li class=""><a class="text-black hoverstyle1 letter-spacing-0" href="#">Women</a></li>
                                    <li class=""><a class="text-black hoverstyle1 letter-spacing-0" href="#">Kids</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- clothing ends -->
                        <!-- best brands starts -->
                        <div class="panel" id="accordion5">
                            <div class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion5" href="#collapse5" class="text-black hoverstyle1 text-medium main-font font-weight-600">Footwear
                                    <i class="fas fa-angle-down float-right padding-right-5px padding-top-5px"></i>
                                </a>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse in">
                                <ul class="list-unstyled text-medium mb-0 sm-text-large">
                                    <li class=""><a class="text-black hoverstyle1 letter-spacing-0" href="#">Men</a></li>
                                    <li class=""><a class="text-black hoverstyle1 letter-spacing-0" href="#">Women</a></li>
                                    <li class=""><a class="text-black hoverstyle1 letter-spacing-0" href="#">Kids</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- best brands ends -->
                        <!-- food starts -->
                        <div class="panel" id="accordion6">
                            <div class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion6" href="#collapse6" class="text-black main-font text-medium hoverstyle1 font-weight-600 md-text-large">Accessories
                                    <i class="fas fa-angle-down float-right padding-right-5px padding-top-5px"></i>
                                </a>
                            </div>
                            <div id="collapse6" class="panel-collapse collapse in">
                                <ul class="list-unstyled text-medium mb-0 sm-text-large">
                                    <li class=""><a class="text-black hoverstyle1 letter-spacing-0" href="#">Men</a></li>
                                    <li class=""><a class="text-black hoverstyle1 letter-spacing-0" href="#">Women</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- food ends -->
                        <!-- undewear starts -->
                        <div class="panel" id="accordion7">
                            <div class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion6" href="#collapse7" class="text-black main-font text-medium hoverstyle1 font-weight-600 md-text-large">House Hold
                                    <i class="fas fa-angle-down float-right padding-right-5px padding-top-5px"></i>
                                </a>
                            </div>
                            <div id="collapse7" class="panel-collapse collapse in">
                                <ul class="list-unstyled text-medium mb-0 sm-text-large">
                                    <li class=""><a class="text-black hoverstyle1 letter-spacing-0" href="#">Indoor</a></li>
                                    <li class=""><a class="text-black hoverstyle1 letter-spacing-0" href="#">Outdoor</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- undewear ends -->
                        <!-- furniture starts -->
                        <div class="panel" id="accordion8">
                            <div class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion8" href="#collapse8" class="text-black main-font text-medium hoverstyle1 font-weight-600 md-text-large">Beauty & Personal Care
                                    <i class="fas fa-angle-down float-right padding-right-5px padding-top-5px"></i>
                                </a>
                            </div>
                            <div id="collapse8" class="panel-collapse collapse in">
                                <ul class="list-unstyled text-medium mb-0 sm-text-large">
                                    <li class=""><a class="text-black hoverstyle1 letter-spacing-0" href="#">Make Up</a></li>
                                    <li class=""><a class="text-black hoverstyle1 letter-spacing-0" href="#">Skin Care</a></li>
                                    <li class=""><a class="text-black hoverstyle1 letter-spacing-0" href="#">Hair Care</a></li>
                                    <li class=""><a class="text-black hoverstyle1 letter-spacing-0" href="#">Personal Care</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- furniture end -->
                        <div class="panel" id="accordion9">
                            <div class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion6" href="#collapse9" class="text-black main-font text-medium hoverstyle1 font-weight-600 md-text-large">E-Products
                                    <i class="fas fa-angle-down float-right padding-right-5px padding-top-5px"></i>
                                </a>
                            </div>
                            <div id="collapse9" class="panel-collapse collapse in">
                                <ul class="list-unstyled text-medium mb-0 sm-text-large">
                                    <li class=""><a class="text-black hoverstyle1 letter-spacing-0" href="#">Computers</a></li>
                                    <li class=""><a class="text-black hoverstyle1 letter-spacing-0" href="#">Computer External Components</a></li>
                                    <li class=""><a class="text-black hoverstyle1 letter-spacing-0" href="#">Phones</a></li>
                                    <li class=""><a class="text-black hoverstyle1 letter-spacing-0" href="#">Data Storage</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel" id="accordion10">
                            <div class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion6" href="#collapse10" class="text-black main-font text-medium hoverstyle1 font-weight-600 md-text-large">Sports & Outdoors
                                    <i class="fas fa-angle-down float-right padding-right-5px padding-top-5px"></i>
                                </a>
                            </div>
                            <div id="collapse10" class="panel-collapse collapse in">
                                <ul class="list-unstyled text-medium mb-0 sm-text-large">
                                    <li class=""><a class="text-black hoverstyle1 letter-spacing-0" href="#">Outdoor Recreations</a></li>
                                    <li class=""><a class="text-black hoverstyle1 letter-spacing-0" href="#">Sports & Fitness</a></li>
                                    <li class=""><a class="text-black hoverstyle1 letter-spacing-0" href="#">Sport Nutrition</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel" id="accordion11">
                            <div class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion6" href="#collapse11" class="text-black main-font text-medium hoverstyle1 font-weight-600 md-text-large">Toys and Games
                                    <i class="fas fa-angle-down float-right padding-right-5px padding-top-5px"></i>
                                </a>
                            </div>
                            <div id="collapse11" class="panel-collapse collapse in">
                                <ul class="list-unstyled text-medium mb-0 sm-text-large">
                                    <li class=""><a class="text-black hoverstyle1 letter-spacing-0" href="#">Baby & Toddlers</a></li>
                                    <li class=""><a class="text-black hoverstyle1 letter-spacing-0" href="#">Building toys</a></li>
                                    <li class=""><a class="text-black hoverstyle1 letter-spacing-0" href="#">Dolls & Accessories</a></li>
                                    <li class=""><a class="text-black hoverstyle1 letter-spacing-0" href="#">Dress up and Pretend</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel" id="accordion12">
                            <div class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion6" href="#collapse12" class="text-black main-font text-medium hoverstyle1 font-weight-600 md-text-large">Arts and Crafts
                                    <i class="fas fa-angle-down float-right padding-right-5px padding-top-5px"></i>
                                </a>
                            </div>
                            <div id="collapse12" class="panel-collapse collapse in">
                                <ul class="list-unstyled text-medium mb-0 sm-text-large">
                                    <li class=""><a class="text-black hoverstyle1 letter-spacing-0" href="#">Craft Kits</a></li>
                                    <li class=""><a class="text-black hoverstyle1 letter-spacing-0" href="#">Drawing & Painting Supplies</a></li>
                                    <li class=""><a class="text-black hoverstyle1 letter-spacing-0" href="#">Party Deacorations & Supplies</a></li>
                                    <li class=""><a class="text-black hoverstyle1 letter-spacing-0" href="#">Knitting and Crochet</a></li> 
                                </ul>
                            </div>
                        </div>
                        <div class="panel" id="accordion13">
                            <div class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion6" href="#collapse13" class="text-black main-font text-medium hoverstyle1 font-weight-600 md-text-large">Pet Supplies
                                    <i class="fas fa-angle-down float-right padding-right-5px padding-top-5px"></i>
                                </a>
                            </div>
                            <div id="collapse13" class="panel-collapse collapse in">
                                <ul class="list-unstyled text-medium mb-0 sm-text-large">
                                    <li class=""><a class="text-black text-meduim hoverstyle1 letter-spacing-0" href="#">Dogs</a></li>
                                    <li class=""><a class="text-black text-meduim hoverstyle1 letter-spacing-0" href="#">Fish & Aquatic Pets</a></li>
                                    <li class=""><a class="text-black text-meduim hoverstyle1 letter-spacing-0" href="#">Birds</a></li>
                                    <li class=""><a class="text-black text-meduim hoverstyle1 letter-spacing-0" href="#">Horses</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel" id="accordion14">
                            <div class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion6" href="#collapse14" class="text-black main-font text-medium hoverstyle1 font-weight-600 md-text-large">Babies
                                    <i class="fas fa-angle-down float-right padding-right-5px padding-top-5px"></i>
                                </a>
                            </div>
                            <div id="collapse14" class="panel-collapse collapse in">
                                <ul class="list-unstyled text-medium mb-0 sm-text-large">
                                    <li class=""><a class="text-black text-meduim hoverstyle1 letter-spacing-0" href="#">Apparel & Accessories</a></li>
                                    <li class=""><a class="text-black text-meduim hoverstyle1 letter-spacing-0" href="#">Baby & Toddler Toys</a></li>
                                    <li class=""><a class="text-black text-meduim hoverstyle1 letter-spacing-0" href="#">Baby Stationery</a></li>
                                    <li class=""><a class="text-black text-meduim hoverstyle1 letter-spacing-0" href="#">Car Seats & Accessories</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- categories grids ends -->
                    </div>
             
      
                    <!-- best offer grid -->
                   
                    <div class="sidebar-content">
                        <div class="padding-bottom-15px">
                            <h6 class="border-bottom-khaki d-inline-block font-weight-600 main-font text-extra-large md-title-mdall sm-text-extra-large">Best Offer</h6>
                        </div>
                        <!-- grids image starts -->
                        <div class="blog-img">
                            <figure class="no-margin-bottom">
                                <img src="{% static 'images/sidebar-image.jpg'%}" class="img-fluid border-radius-5" alt="">
                            </figure>
                        </div>
                        <!-- grids image ends -->
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-8">
                <div class="row">
                    {% for product in products %}
                    <!-- product1 starts -->
                        <div class="col-xl-3 col-lg-3 col-md-4 col-6">
                            <div class="product-info">
                                <div class="content-overlay position-relative overflow-hidden">
                                    <!-- product1 image starts -->
                                    <div class="product-img color-bg-b text-center">
                                        <a href="{{ product.get_url}}"><img src="{{ product.Images.url }}" alt="" class="img-fluid"></a>
                                    </div>
                                    <!-- product1 image ends -->
                                    <div class="content position-absolute opacity-none">
                                        <!-- icons starts -->
                                        <ul class="no-padding-left">
                                            <li>
                                                <a href="{% url 'add_cart' product.id %}" class="text-fast-gray hoverstyle1 text-medium2 line-height-34 d-block"><i class="fas fa-shopping-bag"></i></a>
                                            </li>
                                            <!-- <li>
                                                <a href="javascript:void(0)" class="text-fast-gray hoverstyle1 text-medium2 line-height-34 d-block" data-toggle="modal" data-target="#myModal"><i class="fas fa-eye"></i></a>
                                            </li>
                                            <li>
                                                <a href="wishlist.html" class="text-fast-gray hoverstyle1 text-medium2 line-height-34 d-block"><i class="fas fa-heart"></i></a>
                                            </li> -->
                                        </ul>
                                        <!-- icons ends -->
                                    </div>
                                </div>
                            </div>
                            <!-- product1 description starts -->
                            <div class="protext text-center margin-top-10px">
                                <a href="{{ product.get_url }}" class="d-inline-block text-dark-gray font-weight-600 hoverstyle1">{{ product.product_name }}</a>
                                <a href="{{ product.get_url }}"><p class="pricetext font-weight-600">aed {{ product.price }}</p></a>
                            </div>
                            <!-- product1 description ends -->
                        </div>
                    {% endfor %}
                    <!-- product1 ends -->
                   
                    <!-- product16 ends -->
                </div>
                <div class="row pro-result">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 pagination-style">
                        <div class="pagination">
                            {% if products.has_other_pages %}
                            <ul class="pagination">
                                {% if products.has_previous %}
                                    <li> <a href="?page={{ products.previous_page_number }}"><i class="fas fa-angle-double-left"></i></a></li>
                                {% else %}
                                    <li> <a href="#" class="diabled"><i class="fas fa-angle-double-left"></i></a></li>
                                {% endif %}
                                {% for i in products.paginator.page_range %}
                                    {% if products.number == i %}
                                        <li><a href="#" class="active">{{i}}</a></li>
                                    {% else %}
                                        <li><a href="?page={{i}}" class="active">{{i}}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if products.has_next %}
                                    <li><a href="?page={{ products.next_page_number }}"><i class="fas fa-angle-double-right"></i></a></li>
                                {% else %}
                                    <li><a href="#" class="disabled"><i class="fas fa-angle-double-right"></i></a></li>
                                {% endif %}
                                
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 pagination-style">
                        <div class="show-result">
                            <p>
                              <span>Showing </span>
                              <span>1 - 3</span>
                              <span> of </span>
                              <span>3</span>
                               results
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}