{% extends 'base.html' %}
{% load static %}
{% block content %}
		<!-- breadcrumbs section starts -->
        {% include 'includes/breadcrum.html' %}
		<!-- breadcrumbs section ends -->
		<!-- checkout section starts -->

						
		<!--billing address starts  -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 padding-30px">
                    <div class="col-lg-6">
                        <h4 class="w-100  text-black border-radius-5 border-gray2 padding-10px outline-none text-large sm-text-extra-large text-center">Billing Address</h4>
                        <br>
                        <p class="card-text mb-0">Name: {{ order.full_name }} {{ order.last_name }}</p>
                        <p class="card-text mb-0">Address: {{ order.full_address }}</p>
                        <p class="card-text mb-0">City: {{ order.city }}</p>
                        <p class="card-text mb-0">State: {{ order.state}}</p>
                        <p class="card-text mb-0">Country: {{ order.country }}</p>
                        <p class="card-text mb-0">Email: {{ order.email }}</p>
                        <p class="card-text mb-0">Phone: {{ order.phone }}</p>
                        <br>
                        <div class="margin-bottom-15px">
                            <input type="checkbox" checked="checked" class="position-relative top-2">
                            <span class="font-weight-600 padding-left-5px sm-text-large">Have A Billing Address Same As Shipping Address</span>
                        </div>
                    </div>
                                
                                    
                    <!-- billing address ends -->
                    <!-- payment method starts -->
                    <div class="col-lg-6" >
                        <h4 class="w-100 text-left text-black border-gray2 border-radius-5 padding-10px outline-none text-large text-center sm-text-extra-large">Payment Method</h4>
                        <div class="margin-left-10px margin-right-10px margin-top-15px">
                            <div class="payment-mathod">
                                <!-- credit/debit option starts -->
                                <div class="margin-bottom-10px">
                                    <input type="radio" name="method" class="position-relative top-2">
                                    <span class="padding-left-5px font-weight-600 sm-text-large">Credit/Debit Card</span>
                                    <div class="d-inline-block padding-left-5px vertical-align-middle title-large sm-title-middle2">
                                        <i class="fab fa-cc-visa"></i>
                                        <i class="fab fa-cc-mastercard"></i>
                                        <i class="fab fa-cc-amex"></i>
                                        <i class="fab fa-cc-amazon-pay"></i>
                                    </div>
                                </div>
                                <!-- credit/debit option ends -->
                                <!-- paypal option starts -->
                                <div class="margin-bottom-10px">
                                    <input type="radio" name="method" class="position-relative top-2">
                                    <span class="padding-left-5px font-weight-600 sm-text-large">Paypal</span>
                                    <div class="d-inline-block padding-left-5px vertical-align-middle title-large sm-title-middle2">
                                        <i class="fab fa-cc-paypal"></i>
                                    </div>
                                </div>
                                <!-- paypal option ends -->
                                <!-- cash on devivery option starts -->
                                <div class="margin-bottom-15px sm-margin-bottom-10px">
                                    <input type="radio" name="method" class="position-relative top-2">
                                    <span class="padding-left-5px font-weight-600 sm-text-large">Cash On Delivery</span>
                                    <div class="d-inline-block padding-left-5px vertical-align-middle title-large sm-title-middle2">
                                        <i class="fas fa-hand-holding-usd"></i>
                                    </div>
                                </div>
                                <!-- cash on devivery option ends -->
                                <!-- payments start-->
                                <div class="card-body">
                                    <dl class="dlist-align">
                                    <dt>Total price:</dt>
                                    <dd class="text-right">${{ total }}</dd>
                                    </dl>
                                    <dl class="dlist-align">
                                    <dt>Tax:</dt>
                                    <dd class="text-right"> ${{ tax }}</dd>
                                    </dl>
                                    <dl class="dlist-align">
                                    <dt>Grand Total:</dt>
                                    <dd class="text-right text-dark b"><strong>${{ grand_total }}</strong></dd>
                                    </dl>
                                    <hr>
                                </div> 
                                <div id="paypal-button-container"></div>
                                <!-- payment ends -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="w-100 text-left text-black border-radius-5 border-gray2 padding-10px outline-none text-large text-center sm-text-extra-large text-center">Review Products</h4>
                        <div class="card">
                            <div class="card-body">
                                <table class="table table-borderless table-shopping-cart">
                                    <thead class="text-muted">
                                    <tr class="small text-uppercase">
                                    <th scope="col">Product</th>
                                    <th scope="col" width="120">Quantity</th>
                                    <th scope="col" width="120">Price</th>
                                    
                                    </tr>
                                    </thead>
                                    <tbody>
                                
                                        {% for cart_item in cart_items %}
                                        <tr>
                                            <td>
                                                <figure class="itemside align-items-center">
                                                    <div class="aside"><img src="{{ cart_item.product.images.url }}" class="img-sm"></div>
                                                    <figcaption class="info">
                                                        <a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.product_name }}</a>
                                                        <p class="text-muted small">
                                                        {% if cart_item.variations.all %}
                                                            {% for item in cart_item.variations.all %}
                                                                {{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }} <br>
                                                            {% endfor %}
                                                        {% endif %}
                                                        </p>
                                                    </figcaption>
                                                </figure>
                                            </td>
                                            
                                            <td>
                                                <label for="">{{ cart_item.quantity }}</label>
                                            </td>
                                            <td> 
                                                <div class="price-wrap"> 
                                                    <var class="price">${{ cart_item.sub_total }}</var> 
                                                    <small class="text-muted"> ${{ cart_item.product.price }} each</small> 
                                                </div> <!-- price-wrap .// -->
                                            </td>
                                        </tr>
                                    
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- Replace "test" with your own sandbox Business account app client ID -->
    <script src="https://www.paypal.com/sdk/js?client-id=AeSb8Eee3urhQ1l4qh4d6pa06BJUoPNbuMns3zqTCL17PaGgG8wxLu1_ox5BjPFrZqM9_3zYgv5xfUCI&currency=USD"></script>
    <!-- Set up a container element for the button -->
    <script>

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
  
        
      var amount = "{{ grand_total }}"
      var url = "{% url 'payments' %}"
      var csrftoken = getCookie('csrftoken');
      var orderID = "{{ order.order_number }}"
      var payment_method = "PayPal"
      var redirect_url =  "{% url 'order_complete' %}"
  
  
      paypal.Buttons({
  
          style: {
          color: 'blue',
          shape: 'rect',
          label: 'pay',
          height: 40,
          },
  
        
        // Sets up the transaction when a payment button is clicked
          createOrder: (data, actions) => {
            return actions.order.create({
              purchase_units: [{
                amount: {
                  value: amount, // Can also reference a variable or function
                }
              }]
            });
          },
          // Finalize the transaction after payer approval
          onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
              // Successful capture! For dev/demo purposes:
              // console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
              // const transaction = orderData.purchase_units[0].payments.captures[0];
              // alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
              console.log(details);
              sendData();
              function sendData(){
                    fetch(url, {
                      method : "POST",
                      headers : {
                      "Content-type": "application/json", 
                      "X-CSRFToken": csrftoken,
                    },
                      body: JSON.stringify({
                        orderID: orderID,
                        transID: details.id,
                        payment_method: payment_method,
                        status: details.status,
                      }),
                  })
                    .then((response) => response.json())
                    .then((data) => {
                        window.location.href = redirect_url + '?order_number=' + data.order_number+'&payment_id='+data.transID;
                    });
                  }
              // When ready to go live, remove the alert and show a success message within this page. For example:
              // const element = document.getElementById('paypal-button-container');
              // element.innerHTML = '<h3>Thank you for your payment!</h3>';
              // Or go to another URL:  actions.redirect('thank_you.html');
            });
          }
        }).render('#paypal-button-container');
      </script>
     <!-- <div class="order-button">
            <button class="btn btn-style1">Place Order</button>
        </div> -->
        <!-- payment method ends -->
        
            <!-- <div class="card"> -->
            <!-- card-body.// -->
            <!-- </div> card.// -->

        <!-- checkout section ends -->
{% endblock %}
 
